.cart-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    margin-left: 4rem;
}

.cart-container {
    display: flex;
}

.cart-heading {
    margin: 3rem;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}

.cart-pricing{
    margin-left: 22rem;
    width: 20rem;
    background-color: var(--nav-logo);
    padding: 2rem;
    height: max-content;
}

.price-list{
    border-bottom: 2px solid black;
}
.price-heading{
    border-bottom: 2px solid black;
    font-size: 1.5rem;
    font-weight: 600;
}

.price-comp{
    margin: 1rem 0px;
    font-size: 1.2rem;
    font-weight: 500;
    
}

.price-value{
    float: right;
   
}

.price-total{
    margin: 1rem 0px;
    font-size: 1.5rem;
    font-weight: 600;
}

.cart-btn{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--log-background);
    font-weight: 600;
    font-size: 1rem;
}

.quant{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-n{
    border: 2px solid var(--default-color);
    padding: 4px 10px;
    margin: 0 1rem;
}

.quantity{
    border: 2px solid var(--default-color);
    border-radius: 50%;
    padding: 0 6px;
    font-weight: 900;
    font-size: 1rem;
    background-color: var(--nav-logo);
    color: var(--default-color);
}

.txt-bold{
    font-weight: 600;
}